body {
  /* background-color: rgb(240, 242, 245); */
}

#home {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 50px;
  padding: 20px 0 0 0;
  background-color: rgb(240, 242, 245);
  /* border: 1px solid black; */
}

#home > #left {
  height: 100%;
  width: 22%;
  position: fixed;
  top: calc(62px - 0%);
  left: 0;
  overflow-y: scroll;
  background-color: rgb(240, 242, 245);
  /* border: 1px solid red; */
}

#home > #left > .left-sec {
  height: auto;
  width: 98%;
  padding: 15px 15px;
  float: right;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border: 1px solid green; */
}

#home > #left > .left-sec:hover {
  background-color: rgb(228, 230, 235);
  cursor: pointer;
}

#home > #left > .left-sec > img {
  margin: 0 10px 0 0;
  object-fit: contain;
  filter: contrast(120%);
}

#home > #left > .left-sec > h4 {
  font-weight: 600;
  font-size: 15px;
}

#home > #left > .left-sec > .fa-angle-down {
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(228, 230, 235);
  /* border: 1px solid black; */
}

#home > #middle {
  /* padding: 5px 0 0 0; */
  margin: 10px 0 0 0;
  left: 22%;
  position: relative;
  height: 100%;
  width: 55%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 242, 245);
  /* border: 1px solid red; */
}

#home > #middle > #story {
  height: 75px;
  width: 80%;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border: 1px solid black; */
}

#home > #middle > #story > .fa-plus {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background-color: rgb(219, 231, 242);
  color: orangered;
  /* border: 1px solid red; */
}

#home > #middle > #story > #create-story-home {
  /* border: 1px solid red; */
}

#home > #middle > #story > #create-story-home > h3 {
  font-weight: 600;
  font-size: 16px;
}

#home > #middle > #story > #create-story-home > p {
  font-size: 14px;
  font-weight: 300;
}

#home > #middle > #post-something {
  height: 120px;
  width: 70%;
  margin: 0 0 15px 0;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border: 1px solid black; */
}

#home > #middle > #post-something > #top {
  height: 50%;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
}

#home > #middle > #post-something > #top > .fa-circle-user {
  font-size: 40px;
  margin: 0 8px;
}

#home > #middle > #post-something > #top > button {
  width: 85%;
  height: 70%;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  padding: 0 0 0 15px;
  background-color: rgb(240, 242, 245);
}

#home > #middle > #post-something > #down {
  height: 50%;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

#home > #middle > #post-something > #down > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  border-radius: 10px;
  /* border: 1px solid black; */
}

#home > #middle > #post-something > #down > div:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

#home > #middle > #post-something > #down > div > p {
  font-size: 14px;
  font-weight: 500;
  margin: 0 8px;
  color: rgb(63, 63, 63);
}

#filter-feed-posts {
  width: 70%;
  display: flex;
  /* border: 1px solid red; */
}

#filter-feed-posts > .feed-posts {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#filter-feed-posts > .feed-posts > button {
  padding: 10px 0;
  width: 100%;
  border: none;
  background: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  /* border: 1px solid black; */
}

#filter-feed-posts > .feed-posts > button:hover {
  cursor: pointer;
  /* background-color: white; */
}

.feed-active {
  color: orangered;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* background-color: white; */
}

#home > #middle > #posts {
  height: auto;
  width: 70%;
  margin: 10px 0 50px 0;
  /* border: 1px solid black; */
}

#posts > #no-post-msg {
  height: 50vh;
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
}

#posts > #no-post-msg > h3 {
  margin: 50px 0 0 0;
  color: #ff8c62;
}

#home > #middle > #posts > .post {
  height: auto;
  width: 100%;
  border-radius: 10px;
  margin: 0 0 20px 0;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border: 1px solid red; */
}

#home > #middle > #posts > .post > .postsec-1 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 0 0;
  /* border: 1px solid red; */
}

#home > #middle > #posts > .post > .postsec-1 .post-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home > #middle > #posts > .post > .postsec-1 .post-user > .post-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 8px 0 10px;
  /* border: 1px solid black; */
}

#home > #middle > #posts > .post > .postsec-1 .post-user > .post-img > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
  background-color: rgb(228, 230, 235);
  /* border: 1px solid black; */
}

#home > #middle > #posts > .post > .postsec-1 .post-user > .post-details {
  /* border: 1px solid black; */
}

#home > #middle > #posts > .post > .postsec-1 .post-user > .post-details > h4 {
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

#home
  > #middle
  > #posts
  > .post
  > .postsec-1
  .post-user
  > .post-details
  > h4:hover {
  text-decoration: underline;
}

#home > #middle > #posts > .post > .postsec-1 .post-user > .post-details > p {
  font-size: 13px;
  font-weight: 400;
}

#home > #middle > #posts > .post > .postsec-1 > .options {
  /* border: 1px solid black; */
  margin: 0 10px 0 0;
}

#home > #middle > #posts > .post > .postsec-1 > .options > i {
  margin: 0 8px;
  cursor: pointer;
}

#home > #middle > #posts > .post > .postsec-2 {
  width: 100%;
  padding: 5px 0 8px 0;
  /* border: 1px solid black; */
}

#home > #middle > #posts > .post > .postsec-2 > .caption {
  width: 100%;
  padding: 0 50px 0 60px;
  margin: 5px 0 10px 0;
  /* border: 1px solid red; */
}

#home > #middle > #posts > .post > .postsec-2 > .caption > p {
  font-size: 14px;
}

#home > #middle > #posts > .post > .postsec-3 {
  width: 100%;
}

.postsec-3 > .video > video{
  width: 100%;
  cursor: pointer;
}

#home > #middle > #posts > .post > .postsec-3 > .img {
  width: 100%;
  cursor: pointer;
}

#home > #middle > #posts > .post > .postsec-3 > .img > img {
  width: 100%;
  object-fit: contain;
}

#home > #middle > #posts > .post > .postsec-4 {
  width: 100%;
  padding: 5px 0;
  /* border: 1px solid black; */
}

#home > #middle > #posts > .post > .postsec-4 > .post-activity {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 15px;
  /* border: 1px solid blue; */
}

#home
  > #middle
  > #posts
  > .post
  > .postsec-4
  > .post-activity
  > .activity-left {
  width: 40%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid blue; */
}

#home
  > #middle
  > #posts
  > .post
  > .postsec-4
  > .post-activity
  > .activity-left
  > p {
  margin: 0 5px;
  font-weight: 400;
}

#home
  > #middle
  > #posts
  > .post
  > .postsec-4
  > .post-activity
  > .activity-right {
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#home
  > #middle
  > #posts
  > .post
  > .postsec-4
  > .post-activity
  > .activity-right
  > p {
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 0 0;
}

#home > #middle > #posts > .post > .postsec-5 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid rgb(202, 202, 202);
}

#home > #middle > #posts > .post > .postsec-5 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#home > #middle > #posts > .post > .postsec-5 > div > p {
  font-size: 14px;
  margin: 0 5px;
}

/* -------------------------------------------------------- */
#home > #right {
  /* padding: 20px 0 0 0; */
  position: fixed;
  right: 0;
  height: 100%;
  margin: 10px 0 0 0;
  width: 23%;
  background-color: rgb(240, 242, 245);
  /* position: relative; */
  /* border: 1px solid green; */
}

#home > #right > #header {
  height: auto;
  width: 90%;
}

#home > #right > #header > h4 {
  font-weight: 600;
  color: rgb(104, 104, 104);
}

#home > #right > #new-group {
  height: auto;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 10px 5px;
  border-radius: 10px;
  /* border: 1px solid black; */
}

#home > #right > #new-group:hover {
  background-color: rgb(228, 230, 235);
  cursor: pointer;
}

#home > #right > #new-group > p {
  font-size: 14px;
  font-weight: 600;
}

#home > #right > #new-group > .fa-plus {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 8px 0 0;
  cursor: pointer;
  background-color: rgb(228, 230, 235);
  /* border: 1px solid black; */
}

/* -------------------create-post------------------------------- */

#create-post-screen {
  height: 100vh;
  width: 100%;
  position: absolute;
  position: fixed;
  z-index: 50;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.8);
}

#create-post-screen > #create-post {
  height: auto;
  width: 38%;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#create-post-screen > #create-post > #create-post-header {
  height: 60px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  padding: 0 10px;
  /* border-bottom: 1px solid black; */
}

#create-post-screen > #create-post > #create-post-header > .fa-xmark {
  height: 62%;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 3px 0 15px;
  cursor: pointer;
  color: rgb(56, 56, 56);
  background-color: rgb(218, 218, 218);
}

#create-post-screen > #create-post > #create-post-header > h4 {
  font-size: 20px;
}

#create-post-screen > #create-post > #create-post-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  padding: 0 10px;
  /* border: 1px solid black; */
}

#create-post-screen > #create-post > #create-post-body > form {
  width: 100%;
  padding: 0 8px;
  /* border: 1px solid red; */
}

#create-post-screen > #create-post > #create-post-body > form > #post-body-1 {
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
  border-top: 1px solid rgb(196, 196, 196);
}

#create-post-screen
  > #create-post
  > #create-post-body
  > form
  > #post-body-1
  > .fa-circle-user {
  font-size: 40px;
}

#create-post-screen
  > #create-post
  > #create-post-body
  > form
  > #post-body-1
  > #show-post-to {
  margin: 0 8px;
  /* border: 1px solid black; */
}

#create-post-screen
  > #create-post
  > #create-post-body
  > form
  > #post-body-1
  > #show-post-to
  > h4 {
  font-weight: 600;
  font-size: 14px;
}

#create-post-screen
  > #create-post
  > #create-post-body
  > form
  > #post-body-1
  > #show-post-to
  > select {
  border: none;
  border-radius: 5px;
  padding: 1px 4px;
  cursor: pointer;
  background-color: rgb(218, 218, 218);
}

#create-post-screen
  > #create-post
  > #create-post-body
  > form
  > #post-body-2
  > input {
  height: 60px;
  width: 100%;
  font-size: 20px;
  border: none;
  outline: none;
}

#create-post-screen > #create-post > #create-post-body > form > #post-body-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 60px 0 0 0; */
  /* border: 1px solid black; */
}

#post-body-3 > #post-img-preview {
  height: 150px;
  width: 250px;
  /* border: 1px solid red; */
}

#post-body-3 > #post-img-preview > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#create-post-screen
  > #create-post
  > #create-post-body
  > form
  > #post-body-3
  > img {
  height: 38px;
  width: 38px;
}

#create-post-screen > #create-post > #create-post-body > form > #post-body-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  margin: 15px 0 10px 0;
  border-radius: 8px;
  border: 1px solid rgb(185, 185, 185);
}

#create-post-screen
  > #create-post
  > #create-post-body
  > form
  > #post-body-4
  > #add-to-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  /* border: 1px solid black; */
}

#create-post-screen
  > #create-post
  > #create-post-body
  > form
  > #post-body-4
  > h4 {
  font-size: 15px;
  font-weight: 500;
}

#create-post-screen > #create-post > #create-post-body > form > #post-body-5 {
  /* border: 1px solid black; */
}

#create-post-screen
  > #create-post
  > #create-post-body
  > form
  > #post-body-5
  > button {
  padding: 6px 0;
  width: 100%;
  margin: 0 0 15px 0;
  font-size: 15px;
  font-weight: 600;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: orangered;
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
  margin: 5px 0 0 0;
  /* color: rgb(28, 28, 255); */
}

#post-profile-img {
  height: 50px;
  width: 50px;
}

#post-profile-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(228, 230, 235);
}

#left-profile-img {
  height: 28px;
  width: 28px;
}

#left-profile-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgb(191, 191, 191);
}

#user-comment {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px 10px 5px;
  /* border: 1px solid black; */
}

#user-comment > input {
  height: 35px;
  width: 65%;
  border: none;
  outline: none;
}

#user-comment > button {
  border: none;
  background: none;
  color: white;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: orangered !important;
}

#sec-5-comment {
  cursor: pointer;
}

/* #middle-story-structure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 10px 0;
}

#story-structure {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#story-structure > .single-story {
  position: relative;
  height: 160px;
  width: 22%;
  border-radius: 12px;
  cursor: pointer;
  margin: 0 8px;
}

.single-story > .story-preview {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.story-preview > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.single-story > .story-user {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}

.story-user > .user-img {
  height: 50px;
  width: 50px;
  margin: 5% 45% 0 0;
  background-color: black;
  border-radius: 50%;
}

.user-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  border: 3px solid blue;
}

.story-user > p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 5px 0;
} */

#loading-msg {
  height: 50vh;
  width: 100%;
  text-align: center;
}

#loading-msg > h3 {
  margin: 50px 0 0 0;
  color: #ff8c62;
}

#story-loading-msg {
  width: 100%;
  text-align: center;
}

#story-loading-msg > h3 {
  margin: 20px 0;
  color: #ff8c62;
}

#remove-post-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 0;
  /* border: 1px solid black; */
}

#remove-post-img > h4{
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

#post-file-name{
  margin: 5px 0;
  text-align: center;
  /* border: 1px solid black; */
}

#add-to-post .fa-image, .fa-video{
  color: black;
}