#register-screen {
  height: 100vh;
  width: 100%;
  background-color: rgb(240, 242, 245);
  /* padding: 0 0 20px 0; */
  /* border: 1px solid black; */
}

 #register-screen > #logo {
  height: 105px;
  width: 100%;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

/* #register-screen > #logo h2{
  font-size: 55px;
  font-weight: 600;
  color: orangered;
} */
 #register-screen > #logo > #img {
  height: 70%;
  width: auto;
  margin: auto;
  /* border: 1px solid green; */
} 

#register-screen > #logo > #img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#register-screen > #register {
  height: auto;
  width: 32%;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid rgb(207, 207, 207); */
  /* border: 1px solid black; */
}

#register-screen > #register > #register-header {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  border-bottom: 1px solid rgb(207, 207, 207);
}

#register-screen > #register > #register-header > h2 {
  font-size: 23px;
  font-weight: 700;
}

#register-screen > #register > #register-header > p {
  font-weight: 300;
  font-size: 14px;
}

#register-screen > #register > #register-body {
  height: auto;
  width: 100%;
  /* border: 1px solid blue; */
}

#register-screen > #register > #register-body > form {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#register-screen > #register > #register-body > form > #fields-1 {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0 0 0;
  /* border: 1px solid red; */
}

#register-screen > #register > #register-body > form > #fields-1 > input {
  height: 100%;
  width: 44%;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
}

#register-screen
  > #register
  > #register-body
  > form
  > #fields-1
  > input::placeholder {
  padding: 0 0 0 10px;
  font-size: 14px;
  color: rgb(155, 155, 155);
}

#register-screen > #register > #register-body > form > #fields-2 {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0 0 0;
  /* border: 1px solid red; */
}

#register-screen > #register > #register-body > form > #fields-2 > input {
  height: 100%;
  width: 92%;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
}

#register-screen
  > #register
  > #register-body
  > form
  > #fields-2
  > input::placeholder {
  padding: 0 0 0 10px;
  font-size: 14px;
  color: rgb(155, 155, 155);
}

#register-screen > #register > #register-body > form > .common-fields {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0 0 0;
  /* border: 1px solid red; */
}

#register-screen > #register > #register-body > form > .common-fields > input {
  height: 100%;
  width: 92%;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
}

#register-screen
  > #register
  > #register-body
  > form
  > .common-fields
  > input::placeholder {
  padding: 0 0 0 10px;
  font-size: 14px;
  color: rgb(155, 155, 155);
}
/* 
#register-screen > #register > #register-body > form > #fields-4 > input {
  height: 100%;
  width: 92%;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
}

#register-screen
  > #register
  > #register-body
  > form
  > #fields-4
  > input::placeholder {
  padding: 0 0 0 10px;
  font-size: 14px;
  color: rgb(155, 155, 155);
} */

#register-screen > #register > #register-body > form > p {
  width: 92%;
  margin: 5px 0 8px 0;
  font-size: 10px;
}

#register-screen > #register > #register-body > form > button {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 65px;
  margin: 15px 0 30px 0;
  border-radius: 8px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgb(35, 190, 35);
}

#sign-in {
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
  /* border: 1px solid black; */
}

#sign-in > p {
  font-size: 13px;
  margin: 0 10px 0 0;
  color: rgb(35, 190, 35);
}

#sign-in > p > span {
  cursor: pointer;
}
