#profile-photos {
  position: relative;
  width: 65%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 6px;
  padding: 15px 20px 20px 15px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#profile-photos-header {
  width: 100%;
  margin: 0px 0 20px 0;
  /* border: 1px solid red; */
}

#profile-photos-header > h2 {
  font-size: 20px;
}

#profile-photos-body {
  height: auto;
  width: 100%;
  /* border: 1px solid blue; */
}

#all-photos {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  /* flex-direction: column; */
  /* border: 1px solid green; */
}

#all-photos > .single-photo {
  height: 160px;
  width: 25%;
  border-radius: 8px;
  margin: 5px 5px;
  cursor: pointer;
  border: 1px solid lightgrey;
}

.single-photo > img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
