#single-post {
  height: calc(100vh - 55px);
  width: 100%;
  margin: 58px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: rgb(240, 242, 245); */
  /* padding: 20px 15px; */
  /* border: 1px solid black; */
}

#single-post-left {
  height: auto;
  width: 74%;
  position: fixed;
  /* border: 1px solid red; */
}

#single-post-img {
  height: 590px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* border: 1px solid green; */
}

#main-img {
  height: 100%;
  width: 70%;
  overflow: hidden;
  /* border: 1px solid blue; */
}

#main-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s ease;
}

#main-img > img:hover {
  transform: scale(1.5);
}

#single-post-right {
  position: relative;
  left: 74%;
  width: 26%;
  padding: 20px 15px;
  /* border: 1px solid red; */
}

#single-post-user {
  width: 100%;
  /* border: 1px solid blue; */
}

#user-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: 1px solid green; */
}

#post-user {
  display: flex;
  /* border: 1px solid orangered; */
}

#post-user-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

#post-user-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

#user-middle {
  margin: 5px 0 20px 0;
  /* border: 1px solid black; */
}

#user-down {
  /* border: 1px solid red; */
}

#user-down > #user-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-activity > #user-left,
#user-right {
  width: 40%;
  display: flex;
  /* border: 1px solid green; */
}

#user-left > img {
  height: 20px;
  width: 20px;
}

#user-left > p {
  margin: 0 5px;
}

#user-right {
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

#user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 8px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

#user-actions > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-actions > div > p {
  margin: 0 4px;
}

#single-post-comments {
  padding: 10px 0 15px 0;
  /* border: 1px solid red; */
}

#single-post-comments > .comment {
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  margin: 10px 0 15px 0;
  /* border: 1px solid blue; */
}

.comment > .comment-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.comment > .comment-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  /* border: 1px solid blue; */
}

.comment > .comment-details {
  display: flex;
  padding: 10px 20px 10px 10px;
  margin: 0px 5px 0px 10px;
  border-radius: 15px;
  background-color: rgb(240, 242, 245);
  /* border: 1px solid black; */
}

.comment > .comment-details .details > h5 {
  font-weight: 600;
}

.comment-details > .details > .main-comment {
  width: 150px;
  /* border: 1px solid black; */
}

.comment-details > .details > .main-comment > p {
  font-size: 14px;
  /* text-align: justify; */
}

.comment-actions {
  margin: 0 0 0 5px;
  text-align: end;
  /* border: 1px solid black; */
}

.comment-actions .edit {
  margin: 0 8px;
}

.comment-actions .edit,
.delete {
  cursor: pointer;
}
