#view-story {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
}

#view-story > #left {
  width: 25%;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  /* border: 1px solid black; */
}

#view-story > #left > #left-main {
  height: auto;
  width: 100%;
  /* border: 1px solid blue; */
}

#view-story > #left > #left-main > #left-header {
  height: 25%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 5px 0px;
  /* border: 2px solid black; */
}

#view-story > #left > #left-main > #left-header > .fa-xmark {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 3px 0 15px;
  cursor: pointer;
  color: white;
  background-color: rgb(153, 153, 153);
  /* border: 1px solid red; */
}


#view-story > #left > #left-main > #left-header > #connnect-logo{
  height: 45px;
  width: auto;
}

#connnect-logo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

/* #view-story > #left > #left-main > #left-header > h2{
  color: orangered;
  font-size: 28px;
  cursor: pointer;
} */

/* #view-story > #left > #left-main > #left-header > img {
  cursor: pointer;
} */

#view-story > #left > #left-main > #left-body {
  height: 75%;
  width: 100%;
  /* border: 1px solid black; */
}

#view-story > #left > #left-main > #left-body > #body-header {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 20px 15px;
  /* border: 1px solid green; */
}

#view-story > #left > #left-main > #left-body > #body-header > h2 {
  font-size: 22px;
  font-weight: 700;
}

#view-story > #left > #left-main > #left-body > #body-header > .fa-gear {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 3px 0 15px;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
  /* border: 1px solid black; */
}

#view-story > #left > #left-main > #left-body > #body-main {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 15px;
  /* border: 1px solid black; */
}

#body-main > #your-story,
#all-stories {
  margin: 10px 0;
  /* border: 1px solid black; */
}

#body-main > #your-story > h4 {
  margin: 0 0 10px 0;
}

#body-main > #all-stories > h4 {
  margin: 0 0 10px 0;
}

#all-your-stories {
  width: 100%;
  /* border: 1px solid blue; */
}

#all-your-stories > .your-story {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* margin: 10px 0; */
  padding: 8px 5px;
  border-radius: 6px;
  /* border: 1px solid red; */
}

#all-your-stories > .your-story:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

#all-your-stories > .your-story > h4 {
  margin: 0 4px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  /* border: 1px solid red; */
}

.your-story > .your-story-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid orangered;
}

.your-story > .your-story-img > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}

#all-user-stories {
  width: 100%;
  /* border: 1px solid blue; */
}

#all-user-stories > .user-story {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* margin: 10px 0; */
  padding: 8px 5px;
  border-radius: 6px;
  /* border: 1px solid red; */
}

#all-user-stories > .user-story:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

#all-user-stories > .user-story > h4 {
  margin: 0 8px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  /* border: 1px solid red; */
}

#story-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#story-actions > .add-story,
.delete-story {
  padding: 5px;
  border-radius: 5px;
  margin: 0 1px;
  /* border: 1px solid rgb(230, 230, 230); */
}

#story-actions > .add-story:hover {
  background-color: white;
}

#story-actions > .delete-story:hover {
  background-color: white;
}

#no-story-msg {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.no-story-add {
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: orangered;
  background-color: rgb(213, 235, 241);
  /* border: 1px solid grey; */
}

#your-single-stories {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

.single-story {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 2px 10px;
  /* border: 1px solid lightgrey; */
}

.single-story:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.single-story > .single-story-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid rgb(196, 196, 196);
}

.single-story > .single-story-img > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.delete-single-story {
  cursor: pointer;
  padding: 5px;
}

.delete-single-story:hover {
  background-color: white;
}

.user-story > .story-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid orangered;
}

.user-story > .story-img > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}

#body-main > #body-user-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}

#body-main > #body-user-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  border-radius: 50%;
}

/* #view-story > #left > #left-main > #left-body > #body-main > .fa-circle-user {
    font-size: 60px;
    margin: 0 8px 0 15px;
  } */

#view-story > #left > #left-main > #left-body > #body-main > h4 {
  font-weight: 600;
  font-size: 22px;
}

#view-story > #left > #left-main > #left-body > #body-main > h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

#view-story > #right {
  height: 100%;
  width: 75%;
  background-color: black;
}

#view-story > #right > #right-header {
  height: 7%;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 0;
  background-color: black;
  float: right;
  /* border: 1px solid red; */
}

#story-right-img {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

#story-right-img > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
}

#view-story > #right > #right-header > div {
  height: 78%;
  width: 40px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(228, 230, 235);
  cursor: pointer;
}

#view-story > #right > #right-header > .fa-circle-user {
  margin: 0 4px;
  font-size: 38px;
  cursor: pointer;
}

#view-story > #right > #right-body {
  position: relative;
  height: 92%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* border: 1px solid black; */
}

#story-img {
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  color: white;
  /* border: 1px solid white; */
}

#story-img > #story-up {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  /* border: 1px solid white; */
}

#story-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

#story-profile > p {
  margin: 0 10px;
}

#story-img > #main-img {
  height: 50%;
  width: 100%;
  margin: 40px 0 25px 0;
  /* border: 1px solid white; */
}

#story-img > #main-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#story-img > #story-down {
  height: 20%;
  width: 100%;
  /* border: 1px solid white; */
}

#story-img > #story-down > p {
  font-weight: 500;
}

#main-no-story-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid white; */
}

#main-no-story-msg > h1 {
  color: white;
  margin: 8px 0;
}

.main-no-story-add {
  padding: 12px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: orangered;
  font-size: 25px;
  background-color: rgb(213, 235, 241);
}

#main-story-arrows {
  top: 50%;
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid green; */
  /* background-color: white; */
}

#main-story-arrows > .main-story-arrow-left,
.main-story-arrow-right {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(206, 206, 206);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0 0 10px 0;
  z-index: 10;
  /* border: 1px solid blue; */
}

#main-story-arrows > .main-story-arrow-right:hover {
  background-color: rgb(231, 231, 231);
}

#main-story-arrows > .main-story-arrow-left:hover {
  background-color: rgb(231, 231, 231);
}

.main-story-arrow-left > .left-arrow {
  font-size: 25px;
}

.main-story-arrow-right > .right-arrow {
  font-size: 25px;
}

#Progress_Status {
  width: 100%;
  background-color: #999999;
  border-radius: 10px;
}

#myprogressBar {
  width: 2%;
  height: 3px;
  border-radius: 10px;
  transition: 0.1s ease;
  background-color: rgb(255, 255, 255);
}

#story-time{
  font-size: 14px;
}