#navbar {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgb(255, 253, 251);
  /* border: 1px solid black; */
}

#navbar > #left {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
}

#navbar > #left > #logo {
  height: 75%;
  width:auto;
  cursor: pointer;
  /* border: 1px solid black; */
}


/* #navbar > #left > #logo h2{
  color: orangered;
  font-size: 28px;
} */

#navbar > #left > #logo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: contrast(150%);
}

#navbar > #left > #search-bar {
  height: 70%;
  width: 240px;
  margin: 0 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 22px;
  background-color: rgb(234, 234, 236);
  /* border: 1px solid black; */
}

#navbar > #left > #search-bar > .fa-magnifying-glass {
  margin: 0 8px 0 15px;
}

#navbar > #left > #search-bar > input {
  height: 90%;
  width: 80%;
  background: none;
  outline: none;
  border: none;
  /* border: 1px solid black; */
}

#navbar > #left > #search-bar > input::placeholder {
  font-size: 14px;
}

#navbar > #middle {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#navbar > #middle > div {
  height: 85%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 2px;
  /* border: 1px solid black; */
}

#navbar > #middle > div:hover,
i:hover {
  background-color: rgb(238, 238, 238);
  color: orangered;
}

.isNavItemActive {
  background-color: rgb(238, 238, 238);
  color: orangered;
}

#navbar > #right {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  /* border: 1px solid black; */
}

#navbar > #right > h3 {
  font-weight: 500;
  font-size: 15px;
  border-radius: 22px;
  padding: 6px 10px;
  margin: 0 5px;
  background-color: rgb(228, 230, 235);
  /* border: 1px solid red; */
}

#navbar > #right > div {
  height: 70%;
  width: 38px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(228, 230, 235);
  /* border: 1px solid red; */
}

/* #navbar > #right > .fa-circle-user {
  margin: 0 4px;
  font-size: 40px;
  cursor: pointer;
} */

#navbar-profile-img {
  height: 100%;
  width: 22px;
  margin: 0 4px;
  /* padding: 8px 0; */
  /* padding: 5px; */
  /* border: 1px solid black; */
}

#navbar-profile-img > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}

/* --------------------------sidepopup--------- */

#sidepopup {
  position: absolute;
  position: fixed;
  top: 47px;
  right: 10px;
  z-index: 60;
  width: 25%;
  background-color: white;
  padding: 15px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;
  /* border: 1px solid black; */
}

#sidepopup > #sidepopup-header {
  width: 100%;
  padding: 5px 10px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
  /* border: 1px solid black; */
}

#sidepopup > #sidepopup-header > #popup-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0 12px 0;
  border-bottom: 1px solid rgb(211, 211, 211);
  cursor: pointer;
  /* border: 1px solid black; */
}

#popup-profile-img {
  height: 45px;
  width: 45px;
  margin: 0 10px 0 0;
}

#popup-profile-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  background-color: rgb(228, 230, 235);
}

#sidepopup > #sidepopup-header > #popup-header > h4 {
  font-weight: 600;
}

#sidepopup > #sidepopup-header > .profiles > p {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
  color: orangered;
}

#logout {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  /* border: 1px solid black; */
}

#logout > h4 {
  padding: 0 10px;
}

/* ---------------------------search-results---------------------------- */
#navbar-search-results {
  position: absolute;
  position: fixed;
  top: 47px;
  /* right: 10px; */
  left: 60px;
  z-index: 60;
  width: 18%;
  background-color: white;
  padding: 15px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;
}

#navbar-search-results > p {
  text-align: center;
  color: grey;
  /* border: 1px solid black; */
}

.navbar-search-result {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 5px 0px;
  border-radius: 15px;
  background-color: rgb(241, 241, 241);
  margin: 8px 0;
  /* border: 1px solid black; */
}

.navbar-search-result:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

.navbar-search-result > h4 {
  font-weight: 600;
  font-size: 15px;
}

.navbar-search-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.navbar-search-img > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  background-color: white;
  /* border: 1px solid rgb(180, 180, 180); */
}
